.modal{
    position: fixed;
    z-index: 999;
    padding-bottom: 120px;
    top: 0;
    height: 49rem;
    background-color: rgba(0, 0, 0, 0.384);
    display: none;
    justify-content: center;
    align-items: center;
    animation: slideleft 1s forwards;
}
.modal.is-open{
    display: flex;
    width: 100%;

}
.modal-container{
    position: relative;
    max-width: 480px;
    overflow-y: auto;
    border-radius: 30px;
    background-color: #d1e4ba;
    animation: slideleft 1s forwards;
}
.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 30px;
    width: 30px;
    background-image: url('../../../public/Img/cerrar.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: none;
}
.modal-close:hover{
    cursor: pointer;
}
