@import '../../../index.css';

.block-container {
    display: flex;
    width: 80%;
    height: 400px;
    margin: 20px auto auto auto;
    background-color: var(--background-card-color);
}
.block-img-container {
    width: 50%;
}
.block-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    margin: auto;
    color: black;
}
.block-img {
    width: 100%;
    height: 100%;
}
.block-title {
    height: 20%;
    font-size: 2rem;
    font-family: 'Gilroy-Medium', sans-serif;
    border-bottom: 1px solid var(--main-bg-color);
}