*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	text-align: center;
}
li {
	list-style: none;
}
body {
	background: linear-gradient(90deg, rgb(169, 245, 175), rgba(7, 175, 10, 0.5), rgba(10, 123, 10, 0.759));
}
.container{
	width: 95%;
	height: 100%;
	margin: 0 auto;
	
}
.nav-container {
	display: flex;
	align-items: center;
	color: whitesmoke;
	width:100%;
	margin:20px auto 0px auto;
	background-color:rgba(255, 255, 255, 0.613);
	height: 90px;
	border-bottom: #51e94f solid 2px;
	border-top: #51e94f solid 2px;
}
.nav-links{
	width: 90%;
	display: flex;
	justify-content: space-around;
	font-size: 1.5rem;
}
li a:hover{
	color: #564502;
	border-bottom: 4px #f1c40f solid;
}
.logo{
	border-radius: 80px ;
	width: 120px;
	height: auto;
}
.content{
	margin:40px auto;
	color: #111;
}
.content h1{
	text-align: center;
	max-width: 1900px;
	font-size: 4rem;
	font-weight: 400;
	margin: 15px auto 5% auto;
}
.content p, .content h2{
	max-width: 1900px;
	text-align: center;
	max-width: 1900px;
	margin: 15px auto;
}
.content h2 {
	font-size: 4rem;
	font-weight: 300;
}
.links{
	margin-top: 30px;
	opacity: 0;
}
.links a{
	color: #ffffffbf;
	text-decoration: none;
	display: inline-block;
}
.btn{
	border: 2px solid #fff;
	padding: 10px 35px;
	border-radius: 30px;
	margin-right: 15px;
}
.btn:hover{
	transition: 0.6s ease-in;
	background-color: #f8ba43;
}
.slide-left{
	animation: slideleft 1s linear forwards;
	font-size: 1.5rem;
}
@keyframes slideleft{
	0%{
		transform: translate(100px);
		opacity: 0;
	}
	100%{
		transform: translate(0px);
		opacity: 1;
	}
} 
h1{
	animation-delay: 1s;
}
.links {
	animation-delay: 2s;
}
.header-video {
	margin: 0 auto 25px auto;
	width: 80%;
	max-width: 1200px;
	opacity: 0.9;
}
footer{
	position: relative;
	width: 100%;
    min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(30, 58, 3, 0.721);
}
footer .menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}
footer .icon {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}
footer .icon li{
	font-size: 2em;
	color:#fff;
	cursor: pointer;
	transition: 0.5s;
	margin:25px auto;
}
footer .icon li:hover{
	transform: translateY( -10px);
	opacity: 1;
}
footer .menu li{
	font-size: 1.2em;
	color:#fff;
	margin: 0 10px;
	cursor: pointer;
	margin:25px auto;
}
footer .menu li:hover{
	opacity: 0.7;
}
footer p{
	color: #fff;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}
.fa-whatsapp:hover {
    color: green;
}
.fa-facebook-f:hover {
    color: blue;
}
.fa-instagram:hover {
    color: rgb(255, 55, 0);
}

@media screen and (max-width:700px) {
	header{
		height: 50px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	background-color: white;
    	margin: 10px 2px;
		border-top:rgba(18, 231, 22, 0.5) 2px solid;
		border-bottom:rgba(18, 231, 22, 0.5) 2px solid;
	}
	.main-nav{
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		margin-left: -100%;
		transition: all .2s linear;
		background-color: rgba(0,0,0,.7);
		z-index: 100;
	}
	.main-nav.show{
		margin-left: 0;
	}
	.nav-links{
		background-color: rgba(240, 232, 232, 0.849);
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 100%;
		align-items: center;
		justify-content: flex-start;
	}
	.link-item{
		color: #0f0101;
		text-decoration: none;
		font-weight: bold;
		position: relative;
	}
	.link-item::after {
		position: absolute;
		content: "";
		background-color: rgb(35, 238, 17);
		bottom: -5px;
		left: 0;
		width: 0%;
		height: 3px;
		transition: 0.3s ease all;
	}
	.link-item:hover::after {
		width: 100%;
	}
	.button-menu{
		z-index: 200;
		width: 40px;
		height: 40px;
		border: none;
		display: flex;
		background: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.button-menu span{
		width: 37px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #0f0f0e;
		border-radius: 3px;
		transform-origin: 4px 0px;
		transition: all .2s linear;
	}
	.button-menu.close span {
		opacity: 1;
		transform: rotate(45deg) translate(0px, 0px);
		background: #ffffff;
	}
	.button-menu.close span:nth-child(2){
		transform: rotate(-45deg) translate(-8px, 5px);
	}
	.button-menu.close span:nth-child(3){
		display: none;
	}
	.nav-container{
		height: 60px;
	}
	.content h1{
		font-size: 2rem;
		font-weight: 400;
		margin: 10px auto 5% auto;
	}
	.content p, .content h2{
		text-align: center;
		margin: 10px auto;
	}
	.content h2 {
		font-size: 2rem;
		font-weight: 300;
	}
	.slide-left{
		font-size: 1rem;
	}
	li a {
		color: rgba(12, 11, 11, 0.836);
	}
	li {
		text-align: center;
		width: 90vw;
	}
	li a:hover{
		font-weight: bold;
		color: #191e24;
		border: none;
		letter-spacing: 3px;
	}
	.logo{
		border-radius: 50px ;
		width: 90px;
		height: auto;
	}
}