*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	text-align: center;
	color: white;
	letter-spacing: 2px;
}
li {
	list-style: none;
}
body {
	background-color:#00a4b2;
	background-color:#00b269;
	background-color:#ff731d;
	background-color:#ff9e00;
	background-color:#057e58;
	background: linear-gradient(120deg,#00a4b2,#00b269,#057e58);
}
.container{
	width: 98%;
	margin: 0 auto;
}
header{
	height: 50vh;
	display: flex;
	background-image: url("https://www.elmueble.com/medio/2022/06/05/perro-y-gato-foto-de-andrew-s-en-unsplash_04c9c691_1280x853.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: 50% 40%;
	border-radius: 0 0 50px 50px;
	opacity: 0.9;
}
.logo{
	border-radius: 80px;
	width: 140px;
	height: auto;
	background-color: #fff;
}
.main-nav{
	height: 50%;
	width: 100%;
	background:linear-gradient(190deg,rgba(0, 0, 0, 0.726), rgba(128, 128, 128, 0.582));
	margin-top: 0%;
	border-radius: 0 0 50px 50px;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	margin-top: 2%;
}
.link-item > a{
	font-size: 1vw;
	text-transform: uppercase;
	transition: opacity 0.3s ease;
}

.link-item > a::after{
	content: "";
	position: absolute;
	bottom: 55px;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #1eeaad;
	transition: width 0.5s ease; /* Transición del ancho */
}
.link-item > a:hover::after{
	width: 100%;
}
.button-menu{
	display: none;
}
.link-item a:hover{
	color: #1eeaad;
}
/* Estilos para el menú desplegable */
.nav-links li {
	position: relative;
	display: flex;
	align-items: center;
}
/*.nav-links li:hover > .sub-menu {
	display: block;
	position: absolute;
	top: 60%;
	right: 0;
	z-index: 10000;
}
  /* Estilos para los elementos del submenú */
/*.sub-menu {
	display: none;
	background-color: #0d0909;
	box-shadow: 0 2px 5px rgba(26, 22, 22, 0.2);
	border-radius: 5px 0px 5px 5px;
	padding: 20px;
	white-space: nowrap;
	font-size: 1vw;
}
/* Estilos para la flecha hacia abajo en los elementos padre con submenú */
/*[data-submenu="true"]::after {
	content: " >"; /* Agrega un espacio antes del ">" para separarlo del texto 
	display: inline-block;
	margin-left: 10px;
	transform: translateY(2px) rotate(90deg);  Rota el carácter 90 grados en sentido horario 
	font-size: 1.2vw;
} */

.nav-icons{
	display: none;
}
.content {
	width: 80%;
	margin: auto;
}
.content h1{
	font-size: 4rem;
	font-weight: 600;
	margin: 10% auto;
	color: white;
	text-transform: uppercase;
}
.body-media{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	animation: slideleft 1s forwards;
	height: 80vh;
}
.img-home{
	width: 25%;
	min-width: 300px;
	background: url("https://images.pexels.com/photos/7149465/pexels-photo-7149465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
	background-size: cover;
	border-radius: 30px;
	box-shadow:inset 0 6px 1px 0 rgba(0, 0, 0, 0.35), 
		0 5px 5px rgba(0, 0, 0, 0.5),
		0 15px 25px rgba(0, 0, 0, 0.35);
	opacity: 0.9;
}
.text-img{
	background-color: #e9eced;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.2rem;
	animation: slideleft 1s forwards;
	box-shadow: rgb(42, 36, 36) 5px 5px 5px 2px;
	border-radius: 59px;
	width: 70%;
	min-width: 400px;
	font-family: 'Courier New', Courier, monospace;
}
.text-img > ul > li {
	color: #0d0909;
	font-size: 2rem;
}
/*.btn-info{
	width: 200px;
	height: 35px;
	margin:auto;
	border: 2px solid rgb(8, 6, 6);
	border-radius: 20px;
	color: #f3efef;
	background-color: #045a30cd;
	text-transform: uppercase;
}
.btn-info:hover{
	background-color: #a3df4fec;
	color: black;
	transition: .5s ease;
}*/
.card-content{
	width: 100%;
	margin: 10% 0;
	border-top: 2px white solid;
	padding-top: 10%;
}
.cards{
	display: flex;
	justify-content: space-between;
}
.card-adopt{
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	height: 50vh;
	width: 30%;
	margin: 20px 0;
	background-color: white;
	box-shadow: grey 5px 5px 5px 2px;
	opacity: 0.9;
	transition: 0.6s ease;
	overflow: hidden;
}
.card-adopt:hover{
	width: 50%;
	margin: 0%;
	opacity: 1;
}
.text-img h2{
	width: 100%;
	color: rgb(4, 7, 2);
	font-size: 3rem;
	font-weight: 600;
	margin: 50px auto;
}
.card-content h2{
	color: aliceblue;
	border-bottom: aliceblue 2px solid;
	font-size: 5em;
}
.card-image{
	height: 100%;
	width: 100%;
	border-radius: 40px;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmnHDRRFKYi-7S87SgyU8u4QygUuy8Z-yZuA&usqp=CAU");
	background-size: cover;
	background-repeat: no-repeat;
}
.card-text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 80%
}
.card-name, .card-info{
	color: #0d0909;
}
.card-button{
	width: 100px;
	height: 40px;
	background-color: #045a30cd;
	border: none;
	border-radius: 20px;
	font-size: 100%;
	text-transform: uppercase;
	font-weight: 600;
	margin: auto;
}
.slide-left{
	height: 150px;
	animation: slideleft 1s forwards;
	padding-top:25px ;
	border-bottom: 2px solid rgba(255, 255, 255, 0.869);
}
@keyframes slideleft{
	0%{
		transform: translate(100px);
		opacity: 0;
	}
	100%{
		transform: translate(0px);
		opacity: 1;
	}
} 
.links{
	animation-delay: 2s;
}
.btn-info{
	border: 2px solid #111;
	font-weight: 600;
	border-radius: 30px;
	margin:auto;
	padding: auto;
	box-shadow: 0 5px 5px rgba(128, 128, 128, 0.363);
	width: 150px;
	height: 40px;
}
    /* ------   FOOTER STYLES  -----*/
footer{
	margin: 10% 0 0 0;
	width: 100%;
	padding-top: 2%;
	background:#136c44;
}
.footer-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.footer-text{
	margin: auto 20px;
	width: 40%;
	min-width: 400px;
}
.footer-menu{
	display: flex;
	width: 30%;
	min-width: 400px;
	margin: auto;
}
.menu{
	width: 100%;
}
footer .menu li{
	font-size: 1.2em;
	margin: 0 10px;
	cursor: pointer;
	margin:25px auto;
}
footer .menu li:hover{
	opacity: 0.7;
}
footer p{
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}
.footer-info{
	display: flex;
	flex-direction: column;
	width: max-content;
	margin: auto;
}
.newsleatter{
	width: 80%;
	height: 30px;
	border-radius: 10px;
	text-align: start;
	margin: 20px auto;
}
.footer-icon{
	width: 25%;
	min-width: 300px;
	margin: auto;
}
.icon{
	display: flex;
	width: 100%;
	margin: auto;
}
footer .icon li{
	font-size: 2em;
	cursor: pointer;
	transition: 0.5s;
	margin:25px auto;
}
footer .icon li:hover{
	transform: translateY( -10px);
	opacity: 1;
}
.fa-whatsapp:hover {
    color: rgb(108, 233, 108);
}
.fa-facebook-f:hover {
    color: blue;
}
.fa-instagram:hover {
    color: rgb(255, 55, 0);
}
.copyright{
	background-color: #111;
	width: 100%;
}
@media screen and (max-width:700px) {
	header{
		height: 40vw;
		opacity: 1;
	}
	.logo{
		border-radius: 80px ;
		width: 120px;
		height: auto;
	}
	.main-nav{
		position: fixed;
		top: 0;
		left: 0;
		margin-left: -100%;
		height: 100vh;
		width: 100%;
		transition: all .2s linear;
		background-color: #01080486;
		z-index: 1;
	}
	.main-nav.show{
		margin-left: 0;
	}
	.nav-links{
		background-color: rgb(22, 28, 32);
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 100%;
		align-items: center;
		justify-content: space-around;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.link-item > a{
		color: white;
		width: 100%;
		font-size: 20px;
		font-weight: bold;
		position: relative;
	}
	.link-item{
		width: 100%;
	}
	.link-item:last-child{
		flex-direction: column;
	}
	.nav-icons{
		display: flex;
		justify-content: space-around;
		margin: 40px;
		width: 80%;
	}
	.nav-icons li i{
		font-size: 18px;
	}
	.sub-menu{
		width: 100%;
	}
	.sub-menu  li  a{
		font-size: 18px;
		margin: auto;
	}
	.nav-links li:hover > .sub-menu {
		top:100%;
	}
	.img-home{
		height: 400px;
		margin-top: 15px;
	}
	.button-menu{
		z-index: 200;
		width: 60px;
		height: 60px;
		border: none;
		display: flex;
		background: rgb(22, 28, 32);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 6px;
	}
	.button-menu span{
		width: 37px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #e3e9e4;
		border-radius: 3px;
		transform-origin: 4px 0px;
		transition: all .2s linear;
	}
	.button-menu.close span {
		opacity: 1;
		transform: rotate(45deg) translate(0px, 0px);
		background: #eff1ee;
	}
	.button-menu.close span:nth-child(2){
		transform: rotate(-45deg) translate(-8px, 5px);
	}
	.button-menu.close span:nth-child(3){
		display: none;
	}
	.content h1{
		font-size: 2rem;
		font-weight: 400;
		margin: 10px auto;
	}
	.content p, .content h2{
		text-align: center;
		margin: 10px auto;
	}
	.content h2 {
		font-size: 2rem;
		font-weight: 300;
	}
	.slide-left{
		font-size: 1rem;
	}
	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content:center ;
	}
	.footer-text{
		margin: 15px auto;
	}
	.footer-text p {
		width: 80%;
		margin: auto;
	}
	.footer-menu{
		width: 100%;
	}
	.menu {
		margin: auto;
	}
	.footer-icon{
		width: 100%;
		margin: auto;
	}
}