.questions.container-block {
    flex-direction: row-reverse;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}
.question {
    margin: auto;
    font-size: 1.2rem;
    cursor: pointer;
}
.questions-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.toggle-icon{
    display: flex;
    margin: auto;
}
.question-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.answer {
    text-align: center;
    height: 0;
    opacity: 0;
    margin: auto;
    overflow: hidden;
    transition: all .5s ease;
    font-weight: 100;
    width: 90%;
    font-size: 1rem;
    font-weight: 600
}
.show-answer {
    display: block;
    transition: all .5s ease;
    margin: auto;
    height: 100%;
    opacity: 1;
    padding-top: 2%;
    font-size: 1rem;
    font-weight: 600
}