.card-adopt-content {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card-animal {
    background-color: #ecf3f0b0;
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 230px;
    margin: 20px auto;
    border-radius: 5px;
    border: solid 1px black;
    transition: 0.5s ease all;
    opacity: 0.9;
}
.card-animal:hover {
    box-shadow: 5px 10px 10px rgba(24, 19, 19, 0.877) ;
    opacity: 1;
}
.img-animal {
    width: 60%; 
    height: 100%;
    border-radius: 5px;
}
.datos {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: auto;
    width: max-content;
    border-radius: 20px;
    font-weight: 600;
}
.img-sex {
    width: 2rem;
    border: none;
    align-items: end;
}
.div-item {
    margin: auto;    
    width: 100%;
    padding: auto;
    color: black;
    transition: 0.5s ease all;
    font-size: 1.2rem;
}
.div-item:first-child {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.pet-name {
    font-size: 1.8rem;
    color:black;
    font-weight: 600;
    transition: 0.5s ease all;
}
.btn-available{
    width: max-content;
    padding: 5px;
    margin: auto;
    border: 0.1px black solid;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform:uppercase; 
    background-color: #30eb17;
    color: #040e0a;
    transition: 0.5s ease;
}

.btn-available:hover {
    box-shadow: #151b19 2px 2px;
    cursor:pointer;
}
.interested p {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(255, 55, 0);

}

.form-adopt{
    padding-top: 36px;
}

.card-adopt-pet{
    color: #000;
    text-align: center;
}