.card-adopt-content {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card-animal {
    background-color: #ecf3f0b0;
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 230px;
    margin: 20px auto;
    border-radius: 5px;
    border: solid 1px black;
    transition: 0.5s ease all;
    opacity: 0.9;
}
.card-animal:hover {
    box-shadow: 5px 10px 10px rgba(24, 19, 19, 0.877) ;
    opacity: 1;
}
.img-animal {
    width: 60%; 
    height: 100%;
    border-radius: 5px;
}
.datos {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    width: max-content;
    font-weight: 500;
}
.img-sex {
    width: 2rem;
    border: none;
    align-items: end;
}
.div-item {
    margin: auto;    
    width: 100%;
    padding: auto;
    color: black;
    transition: 0.5s ease all;
    font-size: 1.2rem;
}
.div-item:first-child {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.div-item-details{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
label div {
    width: 10px;
    height: 10px;
}
.true {
    background-color: #30eb17;
}
.pet-name {
    font-size: 1.8rem;
    color:black;
    font-weight: 600;
    transition: 0.5s ease all;
}
.btn-available{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 30px; /* Da una forma redondeada */
    color: #1a0101;
    background-color: #6abf84; /* Color verde suave */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.btn-available:hover {
    box-shadow: #151b19 2px 2px;
    cursor:pointer;
}
.interested p {
    font-size: 0.9rem;
    font-weight: 100;
}