*{
	padding:0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	text-align: center;
	color: white;
	letter-spacing: 2px;
}

li {
	list-style: none;
}
body {
	background: linear-gradient(120deg,#00a4b2,#00b269,#057e58);
}
.container{
	width: 98%;
	margin: 0 auto;
}
@keyframes slideleft{
	0%{
		transform: translate(100px);
		opacity: 0;
	}
	100%{
		transform: translate(0px);
		opacity: 1;
	}
}