.adopt-reason-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 100px auto;
	animation: slideleft 1s forwards;
	width: 90%;
	height: 60vh;
	border: 1px solid white;
	border-radius: 0 30px 30px 0;
}
.adopt-reason-img{
	width: 40%;
	height: auto;
	background: url("https://img.freepik.com/foto-gratis/lindo-mascota-collage-aislado_23-2150007407.jpg") no-repeat;
	background-size: cover;
	background-position: 0 100%;
	border-radius: 0 30px 30px 0;
}
.adopt-reason{
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation: slideleft 1s forwards;
	width: 60%;
	height: 100%;
	font-family: 'Courier New', Courier, monospace;
	background-color: #ecf3f081;
}
.adopt-reason-title{
	width: 100%;
	height: 20%;
	margin: auto;
	padding: auto;
}
.adopt-reason-list {
	margin-top: 20px;
}
.adopt-reason-list > li {
	color: #0d0909;
	font-size: 1.5rem;
}
.adopt-reason-text{
	width: 80%;
	height: max-content;
	margin: auto;
}
.adopt-reason h2{
	width: 100%;
	color: rgb(4, 7, 2);
	font-size: 2rem;
	font-weight: 600;
	margin: auto;
	text-transform: uppercase;
}
.home-adopt-container{
	width: 90%;
	height: 10vh;
	margin: auto;
	text-transform: uppercase;
	background-color: #ecf3f081;
	border: 1px solid white;
	border-radius: 5px;
}
.home-adopt-div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 100%;
	margin: auto;
	
}
.home-adopt-link{
	height: 6vh;
	width: 15vw;
	border-radius: 20px;
	background-color: rgb(37, 248, 37);
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid black;
}
.home-adopt-link h3 {
	font-size: 3vh;
	font-family: 'Luckiest Guy', cursive;
	margin: auto;
	color:#0d0909;
}
.home-adopt-text{
	font-family: 'Luckiest Guy', cursive;
	font-size: 200%;
	font-weight: 400;
	letter-spacing: 10px;
	color:#0d0909;

}