.containerDenuncia{
    background-color: rgb(190, 240, 125);
    width: 500px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

}

.form-label{
    color: #000;
    font-weight: 700;
}

.coment{
    margin: 0 0 1rem 0;
}
