header{
	height: 50vh;
	background-image: url("../../../public/Img/header.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 45%;
	border-radius: 0 0 50px 50px;
	opacity: 0.9;
}
.main-nav{
	height: 35%;
	width: 100%;
	background:linear-gradient(190deg,rgb(6, 8, 6), rgba(100, 92, 92, 0.582));
	border-radius: 0 0 50px 50px;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.link-item a{
	font-size: 1vw;
	text-transform: uppercase;
	transition: opacity 0.3s ease;
}
.logo{
	border-radius: 80px;
	width: 100px;
	height: auto;
	background-color: #fff;
}
.link-item > a::after{
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #1eeaad;
	transition: width 0.5s ease; /* Transición del ancho */
}
.link-item > a:hover::after{
	width: 100%;
}
.button-menu{
	display: none;
}
.link-item a:hover{
	color: #1eeaad;
}
.link-item a {
	color: white;
}
.nav-links li{
	position: relative;
	display: flex;
	align-items: center;
}
.nav-icons{
	display: none;
}