header{
	height: 50vh;
	background-image: url("../../../public/Img/header.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 45%;
	border-radius: 0 0 20px 20px;
	opacity: 0.9;
}
.main-nav{
	height: 25%;
	width: 100%;
	background:linear-gradient(190deg,rgb(6, 8, 6), rgba(100, 92, 92, 0.822));
}
.nav-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.link-item a{
	font-size: 1rem;
	text-transform: uppercase;
	transition: opacity 0.3s ease;
}
.logo{
	border-radius: 50px;
	width: 70px;
	height: auto;
	margin-top: 5px;
}
.link-item > a::after{
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #1eeaad;
	transition: width 0.5s ease; /* Transición del ancho */
}
.link-item > a:hover::after{
	width: 100%;
}
.button-menu{
	display: none;
}
.link-item a:hover{
	color: #1eeaad;
}
.link-item a {
	color: white;
}
.nav-links li{
	position: relative;
	display: flex;
	align-items: center;
}
.nav-icons{
	display: none;
}

.container-title{
    width: 90%;
    height: 10vh;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    background-color: #ecf3f081;
    border: 1px solid white;
    border-radius: 5px;
	justify-content: center;
}

.div-container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
}

.title-adopciones{
    font-family: 'Luckiest Guy', cursive;
    font-size: 200%;
    font-weight: 400;
    letter-spacing: 10px;
    color: #0d0909;
}