.filter-container{
    width: 15%;
    margin: 20px auto;
    border-radius: 5px;
    height: max-content;
    background-color:rgba(236, 243, 240, 0.69);
   /* border:1px solid black;*/
}
.filter-box{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.filter-title {
    font-size: 1rem;
    text-align: start;
}
.filter-label{
    text-align: start;
    font-size: 16px;
    margin-top: 3px;
    opacity: 0.7;
}
.filter-label:hover{
    opacity: 0.9;
    cursor: pointer;
}
.filter-checkbox {
    margin-right: 5px;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black; 
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}
.filter-checkbox:checked {
    background-color: rgb(37, 248, 37);
}
.preferences{
    border-bottom: 1px solid black;
    margin: auto;
}