header{
	height: 40vh;
	background-image: url("../../assets/header.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 45%;
	border-radius: 0 0 20px 20px;
	opacity: 0.9;
}
nav {
    position: sticky;
    top:0;
    z-index: 998;
}
.logo-div {
	width: 5%;
	margin: auto;
}
.logo-link {
	display: block;
	background-color: white;
	margin: auto;
	width: 80%;
}
.main-nav {
	display: flex;
	justify-content: space-around;
	height: 15%;
	min-height: 70px;
	width: 100%;
	background:linear-gradient(190deg,rgb(81, 90, 81), rgb(51, 42, 42));
}
.nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}
.link-item a {
	color: white;
	font-size: 1.2rem;
}
.link-item > a::after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0;
	height: 3px;
	background-color: var(--main-bg-color); 
	transition: width 0.5s ease; /* Transición del ancho */
}
.link-item > a:hover::after{
	width: 100%;
}
.button-menu{
	display: none;
}
.link-item a:hover{
	color: var(--main-bg-color); 
}
.nav-links li{
	position: relative;
	display: flex;
	align-items: center;
}
.nav-icons{
	display: none;
}