.complaints.aside-page {
    width: 20%;
    padding: 2%;
}
.complaints.content-page {
    width: 75%;
    height: 100%;
    background-color: var(--background-card-color);
    border-radius: 20px;
}
.complaints-form-content {
    width: 100%;
}
.complaints-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
}