@import 'index.css';

.main-page {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: 0 auto;
    height: max-content;
}
.aside-page {
    margin: 0;
    border-radius: 20px;
    height: max-content;
    background-color: var(--background-card-color);
    font-family: var(--p-font);
}
.content-page {
    display: flex;
    flex-wrap: wrap;
    margin: auto 0 auto auto;
}